
.wrapper{
    display:flex;
    color:rgb(102,80,56);
}
.photo{
    width: 40%;
    text-align: center;
    padding: 5% 0;
}
.photo img{
    border-radius: 50%;
    box-shadow: 0 0 20px 5px rgb(102,80,56);
    margin-bottom: 20px;

}
.info{
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
}
.info div{

    padding-bottom: 10px;

}
.description{
    border: 1px solid rgb(102,80,56);
    border-radius: 10px;
    box-shadow: 0 0 20px 3px rgb(102,80,56);
    padding:20px;
    position: relative;
}
.description button{
    position: absolute;
    left:390px;
    bottom: 170px;
    background-color: transparent;
    border: none;
}
.info a{
    padding-right: 20px;
}
.avatar{
    display: flex;
    align-items: center;
}
.container{
    position:relative;
    top: 320px;
    left:-130px;
}

.pencil{
    color:rgb(102,80,56);

}

.inputFile{
    position:absolute;
    opacity:0;
    z-index: 999;
}

.avatar img{
    width: 70px;
    border-radius: 50%;

}
form{
    padding: 10px;
    background-color: rgb(102,80,56);
    border-radius: 5px;
}

.edit{
    opacity:0.5
}
.posts{
    color:rgb(102,80,56);
    margin: 10px
}
h1:hover{
   cursor: pointer;
}
textarea{
    background-color: rgb(17,193,253);
    border-radius: 5px;
    box-shadow: 0 0 10px 1px rgb(17,193,253);
}
.postsButton button{
    padding: 5px;
    background-color: black;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 20px 3px rgb(102,80,56);
    color:rgb(102,80,56);
}
.area{
    display: flex;
    gap:20px;
    align-items: center;
}

