.nav{
    grid-area: n;
    background-color: beige;
    color: brown;
    padding: 15px;
}

.link a {
    color: indianred;
    text-decoration: none;
}
a:hover{

    color: #6c5454;
}
a.active{
    color: #6b0202;
    cursor:pointer;
}